body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


*{
    margin: 0;
    padding: 0;
}



.wr{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    align-items: center;
    justify-items: center;
}



.hd{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 2rem;
    background-color: blueviolet;
    color: white;
}


.inp{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;



    background-color: violet;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}



input{
    border-radius: 25px;
    width: 20%;
    height: 20%;
    outline: none;
    text-align: center;
    text-transform: capitalize;
}


input:focus{
    outline: 1px solid coral;
}



button{
    border-radius: 25px;
    width: 10%;
    height: 20%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: wavy;

}



.data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
}


.data>div{
    background-color: aqua;
    border: 3px solid black;
    
}